.button {
    width: 390px;
    border: none;
    border-radius: 15px;
    background: #003C96;
    padding: 26px 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #001E64;
}

.button:focus {
    background: #003C96;
    box-shadow: 0 0 4px 2px #2FCBFF;;
}

.button:active {
    background: #2FCBFF;
    color: #001E64;
}

.button:disabled {
    background: #003C96;
    color: #BABBBE;
}
