.formPage {
    background: #fff;
    color: #000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    line-height: normal;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 740px;
    height: 581px;
    border-radius: 30px;
    border: 1px solid #BBB;
    padding: 60px 75px 80px;
}

.logo {
    margin: 0 0 71px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.input {
    box-sizing: border-box;
    padding: 21px 25px;
    width: 100%;
    border: solid 1px #B4C8FF;
    border-radius: 15px;
    background: #fff;
    margin: 36px 0 0;
    font-size: 20px;
    font-weight: 400;
    /*color: #B4C8FF;*/
    color: #000;
}

.input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #BABBBE;
}

.input:hover {
    border: solid 1px #003C96;
}

.input:focus {
    box-shadow: 0 0 4px 2px #2FCBFF;
    color: #000;
}

.input_error {
    border: 1px solid #FF0000;
    color: #FF0000;
}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    min-width: 590px;
    padding: 0;
}
