.header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  /* padding: 15px; */
  padding-right: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003c96;
  height: 104px;
  /* gap: 20px; */
}

.select {
  text-decoration: none;
  color: #fff;
}

.selectIcon {
  margin-left: 4px;
}

.button {
  height: 50px;
  width: 50px;
  border: 0 none;
  background-color: transparent;
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: lightblue;
}

.logo {
  /* align-self: flex-start; */
  width: 298px;
  height: 103px;
  background-image: url(../../images/logo_lenta.svg);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}
