.header {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f4f6fa;
  height: 88px;
  gap: 20px;
}

.select {
  text-decoration: none;
  color: #000;
}

.selectIcon {
  margin-left: 4px;
}

.button {
  height: 50px;
  width: 50px;
  border: 0 none;
  background-color: #f2f0f0;
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: lightblue;
}
