.sidebar {
  box-sizing: border-box;
  width: 416px;
  height: 100%;
  background-color: #f4f6fa;
  padding: 28px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  transition: all 0.2s ease-in-out;
}

.collapse {
  /* height: 88px; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sidebar.collapsed {
  width: 80px;
  display: flex;
  padding: 28px 0 0;
  flex-direction: column;
  align-items: center;
}

.sidebar.collapsed .collapse {
  display: block;
}

.sidebar.collapsed .collapseButton {
  transform: rotate(180deg);
}

.sidebar.collapsed .filters {
  display: none;
  /* opacity: 0; */
}

.sidebar.collapsed .filterButton {
  display: none;
}

.collapseButton {
  padding: 0;
  /* margin-right: 20px; */
  width: 32px;
  height: 32px;
  background-image: url(../../images/double_chevron_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0 none;
  border-radius: 5px;
  outline: 0 none;
}

.collapseButton:hover {
  background-color: #e6e6e6;
}

.filters {
  transition: all 0.2s ease-in-out;
}

.footer {
}

.filterButton {
  border: 0 none;
  border-radius: 15px;
  background-color: #f2f0f0;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 0;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}

.filterButton:hover {
  background-color: lightblue;
}

.form {
  margin-top: 28px;
  color: #000;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.level1 {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
}

.tree {
  background-color: transparent;
  font-size: 20px;
}