.sidebar {
  box-sizing: border-box;
  width: 416px;
  height: 100vh;
  /* max-height: 1000vh; */
  background-color: #F0F4FF;
  /* padding: 28px; */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  transition: all 0.2s ease-in-out;
}

.collapse {
  padding-right: 28px;
  /* padding-top: 28px; */
  height: 104px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sidebar.collapsed {
  width: 80px;
  display: flex;
  /* padding: 28px 0 0; */
  flex-direction: column;
  align-items: center;
}

.sidebar.collapsed .collapse {
  /* display: block; */
  padding-right: 0;
}

.sidebar.collapsed .collapseButton {
  transform: rotate(180deg);
}

.sidebar.collapsed .filters {
  display: none;
  /* opacity: 0; */
}

.sidebar.collapsed .footer {
  display: none;
}

.collapseButton {
  padding: 0;
  /* margin-right: 20px; */
  width: 32px;
  height: 32px;
  background-image: url(../../images/double_chevron_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0 none;
  border-radius: 5px;
  outline: 0 none;
}

.collapseButton:hover {
  background-color: #e6e6e6;
}

.filters {
  transition: all 0.2s ease-in-out;
  overflow: auto;
}

.footer {
  padding: 28px;
}

.filterButton {
  width: 100%;
  font-weight: 500;
  /* border: 0 none;
  border-radius: 15px;
  background-color: #f2f0f0;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 0;
  font-size: 25px;
  transition: all 0.2s ease-in-out; */
}

/* .filterButton:hover {
  background-color: lightblue;
} */
