.main {
  display: grid;
  box-sizing: border-box;
  grid-auto-rows: min-content;
  gap: 40px;
  justify-items: center;
  padding: 40px;
}

.title {
  color: black;
  font-weight: 300;
  font-size: 25px;
  margin: 80px 0 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0 none; */
  /* border-radius: 15px; */
  /* background-color: #f2f0f0; */
  /* box-sizing: border-box; */
  /* width: 407px; */
  /* padding: 26px 0; */
  /* font-size: 20px; */
  /* transition: background-color 0.2s ease-in-out; */
}

/* .button:hover {
  cursor: pointer;
  background-color: lightblue;
} */

.icon {
  margin-right: 11px;
  width: 32px;
  height: 32px;
  background-image: url(../../images/microsoft_excel.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button:active > .icon {
  background-image: url(../../images/microsoft_excel_blue.svg);
}
